<h2>Slurm 23.11.0</h2>

<h3>openapi/slurmctld</h3>

<h4>New plugin</h4>
The openapi/slurmctld plugin forked from the openapi/v0.0.39 plugin.

<h4>Swap job exit codes to verbose output</h4>
<table class="tchange">
<tr class="trchange">
	<td class="tdfield">Field modified</td>
	<td class="tdchange">
		.components.schemas."v0.0.40_job_info".properties.exit_code
	</td>
</tr>
<tr class="trchange">
	<td class="tdfield">Field modified</td>
	<td class="tdchange">
		.components.schemas."v0.0.40_job_info".properties.derived_exit_code
	</td>
</tr>
</table>

<h4>Remove the "required/memory" field. It would dump very large integers if
    the job required per cpu memory but dump correct amounts for per node
    memory.</h4>
<table class="tchange">
<tr class="trchange">
	<td class="tdfield">Field removed</td>
	<td class="tdchange">
		.component.schemas."v0.0.40_job".properties.required.properties.memory
	</td>
</tr>
</table>

<h4>Add timestamps for last change to data or generation times.</h4>
<table class="tchange">
<tr class="trchange">
	<td class="tdfield">Fields added</td>
	<td class="tdchange">
		.components.schemas."v0.0.40_openapi_job_info_resp".properties.last_backfill
		.components.schemas."v0.0.40_openapi_job_info_resp".properties.last_update
		.components.schemas."v0.0.40_openapi_nodes_resp".properties.last_update
		.components.schemas."v0.0.40_openapi_partition_resp".properties.last_update
		.components.schemas."v0.0.40_openapi_reservation_resp".properties.last_update
		.components.schemas."v0.0.40_openapi_licenses_resp".properties.last_update
	</td>
</tr>
</table>

<h3>openapi/v0.0.38 (src/plugins/openapi/v0.0.38/openapi.json)</h3>

<h4>Deprecation notice</h4>
The v0.0.38 plugin has now been marked as deprecated.

<h3>openapi/v0.0.37 (src/plugins/openapi/v0.0.37/openapi.json)</h3>

<h4>Removal notice</h4>
The v0.0.37 plugin has now been removed.

<h3>openapi/slurmdbd</h3>

<h4>New plugin</h4>
The openapi/slurmdbd plugin forked from the openapi/dbv0.0.39 plugin.

<h4>Swap job exit codes to process exit codes</h4>
<table class="tchange">
<tr class="trchange">
	<td class="tdfield">Field modified</td>
	<td class="tdchange">
		.components.schemas."v0.0.40_job".properties.exit_code
	</td>
</tr>
<tr class="trchange">
	<td class="tdfield">Field modified</td>
	<td class="tdchange">
		.components.schemas."v0.0.40_job".properties.derived_exit_code
	</td>
</tr>
<tr class="trchange">
	<td class="tdfield">Field modified</td>
	<td class="tdchange">
		.components.schemas."v0.0.40_step".properties.exit_code
	</td>
</tr>
</table>

<h4>Switch StepID field to be string to match CLI format</h4>
<table class="tchange">
<tr class="trchange">
	<td class="tdfield">Field modified</td>
	<td class="tdchange">
		.components.schemas."v0.0.40_step".properties.step
	</td>
</tr>
</table>

<h4>Add fields to assocations</h4>
<table class="tchange">
<tr class="trchange">
	<td class="tdfield">Added</td>
	<td class="tdchange">
		.components.schemas."v0.0.40_assoc".properties.accounting
	</td>
</tr>
<tr class="trchange">
	<td class="tdfield">Added</td>
	<td class="tdchange">
		.components.schemas."v0.0.40_assoc".properties.id
	</td>
</tr>
<tr class="trchange">
	<td class="tdfield">Added</td>
	<td class="tdchange">
		.components.schemas."v0.0.40_assoc".properties.comment
	</td>
</tr>
</table>

<h4>Removed field from assocations</h4>
<table class="tchange">
<tr class="trchange">
	<td class="tdfield">Removed</td>
	<td class="tdchange">
		.components.schemas."v0.0.40_assoc".properties.usage
	</td>
</tr>
</table>

<h3>openapi/dbv0.0.38 (src/plugins/openapi/dbv0.0.38/openapi.json)</h3>

<h4>Deprecation notice</h4>
The dbv0.0.38 plugin has now been marked as deprecated.

<h3>openapi/dbv0.0.37 (src/plugins/openapi/dbv0.0.37/openapi.json)</h3>

<h4>Removal notice</h4>
The dbv0.0.37 plugin has now been removed.
